/* Table of Contents
	1. Imports
	2. Global Styles
		2.1. Global Styles Variables
			2.1.1. Global Styles Variables-Color
			2.1.2. Global Styles Variables-Font
			2.1.3. Global Styles Images
		2.2. Global Styles Global
	3. pageGridContainer Styles
		3.1. pageGridContainer Global Styles
		3.2. pageGridContainer Target Element Styles
	4. Sign-in Styles
		4.1. Sign-in Global Styles
		4.2. Sign-in Target Element Styles
	5. Sign-Up Styles
		5.1. Sign-Up Global Styles
		5.2. Sign-Up Target Element Styles
	6. Navigation Section Styles
		6.1. Navigation Section Global Styles
		6.2. Navigation Section Target Element Styles
	7. Navigation Menu Section Styles
		7.1. Navigation Menu Global Styles
		7.2. Navigation Menu Target Element Styles
		7.3. Navigation Edit Section Global Styles
		7.4. Navigation Edit Section Target Element Styles
	8. Main Section Styes
		8.1. Main Section Global Styles
		8.2. Main Section Target Element Styles
		8.3. Main Edit Section Global Styles
		8.4. Main Edit Section Target Element Styles
	*. Footer Style Section
	*. Media Query Section
		*.1. Global Media Queries
		*.2. pageGridContainer Media Queries
		*.3. Navigation Section Media Queries
		*.4. Navigation Menu Section Media Queries

*/

/*	==========
	1. Imports
	========== */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*	================
	2. Global Styles
	================ */

	/*	============================
		2.1. Global Styles Variables
		============================ */

:root{

		/*	====================================
			2.1.1. Global Styles Variables-Color
		 	==================================== */

	--clr-primary:rgb(255,255,255);
	--clr-primary-opacity-light:rgb(255,255,255, 0.6);
	--clr-primary-opacity-mid:rgb(255,255,255, 0.8);
	--clr-primary-opacity-dark:rgb(255,255,255, 0.9);

	--clr-secondary:rgb(14, 9, 9);
	--clr-secondary-opacity-light:rgb(14, 9, 9, 0.28);
	--clr-secondary-opacity-mid:rgb(14, 9, 9, 0.4);
	--clr-secondary-opacity-dark:rgb(14, 9, 9, 0.5);

	--clr-accent:rgb(174,31,66);
	--clr-accent-light:rgb(224,60,101);
			
		/*	===================================
			2.1.2. Global Styles Variables-Font
		 	=================================== */

	--ff-primary:'Roboto', sans-serif;

	/*		===========================
			2.1.3. Global Styles Images
		 	=========================== */

	--img-trash:url('./images/icons8-trash-can.svg');
	--img-edit:url('./images/icons8-edit.svg');
	--img-done:url('./images/icons8-done.svg');
	--img-cancel:url('./images/icons8-cancel.svg');
}

	.edit,.delete,.done,.cancel{
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	/*	=========================
		2.2. Global Styles Global
		========================= */
/* 
	CSS Styling Reset from
	http://meyerweb.com/eric/tools/css/reset/ 
   	v2.0 | 20110126
   	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	min-height: 100vh;
	font-family: var(--ff-primary);
	text-align: center;
	background-image: url('./images/ToDoAppBackground-cropped-mobile.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*	===========================
	3. pageGridContainer Styles
	=========================== */

	/*	====================================
		3.1. pageGridContainer Global Styles
		==================================== */

#pageGridContainer{
	display: grid;
	grid-template-columns: repeat(4, 1fr) ;
  	grid-template-rows: auto;
  	grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

	/*	============================================
		3.2. pageGridContainer Target Element Styles
		============================================ */

#navSection{
	grid-area: header;
}
#navMenuSection{
	grid-area: sidebar;
}
#mainSection{
	grid-area: main;
}
#footerSection{
	grid-area: footer;
}

/*	=================
	4. Sign-in Styles
	================= */

	/*	==========================
		4.1. Sign-in Global Styles
		========================== */

form{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#signIn-Container-Inner, #signIn-Container-Outer{
	display: flex;
}

#signIn-Container-Outer{
	height: 100vh;
	justify-content: center;
}

#signIn-Container-Inner{
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	min-width: 35%;
	max-width: 80%;
	margin: 8.5em 3em 13em;
	background-color: var(--clr-primary-opacity-mid);
	border-radius: 23px;
}

#signIn-Form-Container{
	margin:0 1em;
	padding: 1.5em 0;
	min-width: 60%;
	max-width: 80%;
	background-color: var(--clr-secondary-opacity-mid);
}

	/*	==================================
		4.2. Sign-in Target Element Styles
		================================== */

#appTitle{
	font-size: 2em;
	margin: 0.5em;
	color: var(--clr-secondary);
}

form > input, form > label{
	align-self: center;
	min-width: 60%;
	max-width: 80%;
}

form >label{
	font-size: 1.5em;
	color:var(--clr-primary);
}

input[type=button], #demoButton{
	margin: 0.3em;
	border: none;
	cursor: pointer;
	font-size: 1.2em;
	padding: 0.3em 3em;
	border-radius: 1em;
	text-decoration: none;
	color: var(--clr-primary);
	background-color: var(--clr-accent);
	transition: 0.5s;
}

input[type=button]:hover, #demoButton:hover{
	background-color: var(--clr-accent-light);
}

input[type=text], input[type=password]{
	margin: 0.5em;
	padding: 0.5em 1em;
	border: none;
	text-decoration: none;
	background: var(--clr-secondary-opacity-dark);
	border-radius: 1em;
}

#demoButton{
	padding: 0.3em 2em;
}

/*	=================
	5. Sign-Up Styles
	================= */


	/*	==========================
		5.1. Sign-Up Global Styles
		========================== */

#userCreateInfo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:80%;
}

#signUp-Container-Inner, #signUp-Container-Outer{
	display: flex;
}

#signUp-Container-Outer{
	height: 100vh;
	justify-content: center;
}

#signUp-Container-Inner{
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	min-width: 35%;
	max-width: 80%;
	margin: 8.5em 3em 13em;
	background-color: var(--clr-primary-opacity-mid);
	border-radius: 23px;
}

#signUp-Form-Container{
	display:Flex;
	justify-content: center;
	margin:0 1em;
	padding: 1.5em 0;
	min-width: 60%;
	max-width: 80%;
	background-color: var(--clr-secondary-opacity-mid);
}
		
	/*	==================================
		5.2. Sign-Up Target Element Styles
		================================== */
		
#appTitle{
	font-size: 2em;
	color: var(--clr-secondary);
	
}

form > input, form > label{
	align-self: center;
	min-width: 60%;
	max-width: 80%;
}

form >label{
	font-size: 1.5em;
	color:var(--clr-primary);
}

input[type=button], #demoButton{
	margin: 0.3em;
	border: none;
	cursor: pointer;
	font-size: 1.2em;
	padding: 0.3em 3em;
	border-radius: 1em;
	text-decoration: none;
	color: var(--clr-primary);
	background-color: var(--clr-accent);
	transition: 0.5s;
}

input[type=button]:hover, #demoButton:hover{
	background-color: var(--clr-accent-light);
}

input[type=text]{
	margin: 0.5em;
	padding: 0.5em 1em;
	border: none;
	text-decoration: none;
	background: var(--clr-secondary-opacity-dark);
	border-radius: 1em;
}

#demoButton{
	padding: 0.3em 2em;
}

/*	============================
	6. Navigation Section Styles
	============================ */
	
	/*	=====================================
		6.1. Navigation Section Global Styles
		===================================== */

#navSection{
	display: flex;
	justify-content: flex-start;
	font-size: 2em;
	position: fixed;
	top: 0;
	width: 100vw;
	color: var(--clr-secondary);
	background-color: var(--clr-primary-opacity-light);
}

	/*	=============================================
		6.2. Navigation Section Target Element Styles
		============================================= */

#navSection >h1{
	margin-left: 0.2em;
	font-size: 2em;
	transition: 0.5s;
	cursor: pointer;
	user-select: none;
}


#navSection >h2{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}


/*	=================================
	7. Navigation Menu Section Styles
	================================= */

	/*	==================================
		7.1. Navigation Menu Global Styles
		================================== */
#navMenuSection>*{
	margin-top: 1em;
}

.navMenuSectionHide{
	transform: translate(-100%, 0);
}

#navMenuSection{
	position: fixed;
	top: 2em;
	height: 100vh;
	font-size: 2em;  
	width: 25%;
	color: var(--clr-secondary);
	background-color: var(--clr-primary);
	transition: 0.5s;
}

.navSectionIndicatorActive{
	transform: rotate(135deg);
}


#dateSelector{
	display: flex;
	flex-direction: column;
}

#projectSelector{
	font-size: 0.5em;
}

#projectSelector>ul{
	margin: 1em;
	list-style-type: disc;
}

#projectSelector>ul>section>*{
	flex-grow: 1;
	transition: 0.5s;
}

#projectSelector>ul>section>*:hover{
	background-color: var(--clr-secondary-opacity-light);
}

	/*	==========================================
		7.2. Navigation Menu Target Element Styles
		========================================== */

#defaultSelector > h2{
	margin: 0.5em;
}

#dateSelector > p{
	font-size: 0.75em;  
}

#dateSelector>input{
	display: block;
	margin: 1em;
	text-align: center;
}

#projectSelector>h2{
	font-size: 1.75em;
}

#projectSelector>ul>li{
	margin: 0.5em;

}

#projectSelector>ul>section{
	display: flex;
	flex-direction: row;
	height: 2em;
}

#projectSelector>ul>section>.edit{
	background-image: url('./images/icons8-edit.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#projectSelector>ul>section>.delete{
	background-image: url('./images/icons8-trash-can.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#projectSelector>ul>.addProject{
	padding: 0.6em;
	font-size: 1.2em;
	margin-top: 0.5em;
	text-decoration: none;
	border: none;
	border-radius: 0.5em;
	color: var(--clr-primary);
	background-color: var(--clr-accent);
	transition: 0.5s;
}

#projectSelector>ul>.addProject:hover{
	background-color: var(--clr-accent-light);
}

/*	==========================================
	7.3. Navigation Edit Section Global Styles
	========================================== */

#editProjectContainer{
	display: flex;
	border: 0.2em inset var(--clr-accent);
	flex-direction: column;
}

#editProjectContainer>*{
	flex-grow: 1;
}

#editProjectContainer>.done-cancelSection>*{
	width: 100%;
	height: 2em;
}

	/*	==============================================
	7.4. Navigation Edit Section Target Element Styles
	================================================== */

#editProjectContainer{
	display: flex;
	border: 0.2em inset var(--clr-accent);
	flex-direction: column;
}

#editProjectContainer>.done-cancelSection{
	display: flex;
	justify-content: space-evenly;
	transition: 0.5s;
}

#editProjectContainer>.editTaskSelect>input{
	width: 80%;
}

#editProjectContainer>.done-cancelSection>*:hover{
	background-color: var(--clr-secondary-opacity-light);
}

/*	=====================
	8. Main Section Styes
	===================== */

	/*	===============================
		8.1. Main Section Global Styles
		=============================== */

#mainSection>*{
	min-width: 80%;
}

#mainSection, .items, .tasks{
	display: grid;
}

#mainSection{
	display: flex;
	flex-direction: column;
	margin-top: 3em;
	padding-bottom: 2em;
	gap: 0.5em 0em;
	font-size: 1.5em;
	color: var(--clr-secondary);
	background-color: var(--clr-primary-opacity-dark);
}

.items{
	grid-template-columns: repeat(3, 1fr);
}

.tasks{
	grid-template-columns: repeat(4, 1fr);
}

.items > *{
	grid-column: 1 / span 3;
}

.items{
	color: var(--clr-secondary);
	place-self: center;
	gap: 0.5em 0em;
	margin-bottom: 0.5em;
	background: var(--clr-secondary-opacity-light);
}

.tasks>*{
	place-self: center;
	padding: 0.2em;
}

.tasks>section>*{
	height: 2em;
	width: 2em;
	flex-grow: 1;
	transition: 0.5s;
}

.tasks>section>*:hover{
	background-color: var(--clr-secondary-opacity-light);
}

	/*	=======================================
		8.2. Main Section Target Element Styles
		======================================= */

#mainSection > h2{
	font-size: 1.5em;
	padding: 0.5em;
}

.items>h2{
	font-size: 1.5em;
	padding-top: 0.2em;
}

.tasks>label{
	color: var(--clr-secondary);
	place-self: center;
	font-size: 1em;
	width: 100%;
}

.tasks>input{
	height: 2em;
	width: 2em;
}

.tasks>section{
	display: flex;
	height: 100%;
	width:100%;
}

.edit{
	background-image: var(--img-edit);
}

.delete{
	background-image: var(--img-trash);
}

.addTask{
	padding: 0.6em;
	margin-bottom: 0.5em;
	font-size: 0.8em;
	justify-content: center;
	grid-column: 2;
	text-decoration: none;
	border: none;
	border-radius: 0.5em;
	color: var(--clr-primary);
	background-color: var(--clr-accent);
	transition: 0.5s;
}

.addTask:hover{
	background-color: var(--clr-accent-light);
}

	/*	====================================
		8.3. Main Edit Section Global Styles
		==================================== */

#editTask>*{
	place-self: center;
}

#editTask>section>*{
	height: auto;
	width: 90%;
	transition: 0.5s;
}

#editTask>.done-cancelSection>*:hover{
	background-color: var(--clr-secondary-opacity-light);
}

#editTask>.done-cancelSection>*{
	width: auto;
	height: auto;
	flex-grow: 1;
}

	/*	============================================
		8.4. Main Edit Section Target Element Styles
		============================================ */

#editTaskContainer{
	width: 100%;
	padding: 0;
	grid-column: span 4;
}

#editTask{
	display: grid;
	margin: auto;
	width: 80%;
	padding: 0;
	border: 0.2em inset var(--clr-accent);
	grid-template-columns: repeat(3, 1fr);
	column-gap: 0.5em;
}

#editTask>section{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

#editTask>section>label{
	color: var(--clr-secondary);
	place-self: center;
	font-size: 1em;
	width: 100%;
}

#editTask>section>textarea{
	resize: vertical;
}

#editTask>.done-cancelSection{
	flex-direction: row;
}

.done{
	background-image: var(--img-done);
}

.cancel{
	background-image: var(--img-cancel);
}

/*	=======================
	*. Footer Style Section
	======================= */

#footerSection{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--clr-secondary);
	color: var(--clr-primary);
	text-align: center;
}

/*	======================
	*. Media Query Section
	====================== */

@media only screen and (min-width: 750px) {

	/*	=========================
		*.1. Global Media Queries
		========================= */

	body {
		background-image: url('./images/ToDoAppBackground-cropped.jpg');
	}

	/*	====================================
		*.2. pageGridContainer Media Queries
		==================================== */

	#pageGridContainer{
		grid-template-areas: 
		"header header header header"
		"sidebar main main main"
		"footer footer footer footer";
	}


	/*	=====================================
		*.3. Navigation Section Media Queries
		===================================== */

	#mainSection{
		margin: 3em 1em 0em;
	}

	#mainSection>*{
		min-width: 75%;
	}

	#navSection>h1{
		transform: rotate(135deg);
	}

	/*	==========================================
		*.4. Navigation Menu Section Media Queries
		========================================== */

	#navMenuSection{
		transform: translate(0, 0);
	}

}